.landscape {

    $image-path: '#{$asset-path}/images/landscape';

    background-image: url('#{$image-path}/layer1.svg');
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;

    &_wrapper {
    }

    &_layers {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 110vmin;
        min-width: 150vmin;
        min-height: 50vmax;
    }

    &_layer {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &_hola {
        position: absolute;
        top: 5vw;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 0.8em;
        padding-left: 2em;
        padding-right: 2em;
        @media (min-width: 960px) {
            font-size: 1em;
        }
    }

    &_logo {
        width: 6.5em;
    }

    &_title {
        font-family: 'The Beach';
        line-height: 1;
        font-size: 3.65em;
        margin: 0.25em 0;
        color: $grey3;
        span {
            color: $brand1;
        }
    }

    &_subTitle {
        margin: 0;
        font-size: 1em;
        letter-spacing: 0.3em;
        font-weight: lighter;
        text-transform: uppercase;
        color: $grey3;
    }

    &_layer2 {
        background-image: url('#{$image-path}/layer2.svg');
        background-position-y: 58.1%;
    }

    &_layer3 {
        background-image: url('#{$image-path}/layer3.svg');
        background-position-y: 72%;
    }

    &_layer4 {
        background-image: url('#{$image-path}/layer4.svg');
        background-position-y: 68%;
    }

    &_layer5 {
        background-image: url('#{$image-path}/layer5.svg');
        background-position-x: 100%;
        background-position-y: 78%;
        background-size: 59%;
    }

    &_layer6 {
        background-image: url('#{$image-path}/layer6.svg');
        background-position-y: 75%;
    }

    &_layer7 {
        background-image: url('#{$image-path}/layer7.svg');
        background-position-y: 91%;
    }

    &_layer8 {
        background-image: url('#{$image-path}/layer8.svg');
        background-position-y: 100%;
    }

}