<header class="header {{header.class}}">
    <div class="header_wrapper">
        <div class="header_logo">
            T<span>Mex</span>
        </div>
        <nav class="mainNav">
            <ul>
                <li><a href="#section-1">About Us</a></li>
                <li><a href="#section-2">What We Do</a></li>
                <li><a href="#section-3">Our Work</a></li>
                <li><a href="#section-4">The Amigos</a></li>
            </ul>
        </nav>
    </div>
</header>