---
layout: base.hbs
---

<div class="parallaxBackground">
    <div class="parallaxBackground_layer parallaxBackground_layer1"></div>
    <div data-stellar-ratio="0.1" class="parallaxBackground_layer parallaxBackground_layer2"></div>
    <div data-stellar-ratio="0.15" class="parallaxBackground_layer parallaxBackground_layer3"></div>
    <div data-stellar-ratio="0.2" class="parallaxBackground_layer parallaxBackground_layer4"></div>
    <div data-stellar-ratio="0.3" class="parallaxBackground_layer parallaxBackground_layer5"></div>
    <div data-stellar-ratio="0.4" class="parallaxBackground_layer parallaxBackground_layer6"></div>
    <div data-stellar-ratio="0.6" class="parallaxBackground_layer parallaxBackground_layer7"></div>
    <div data-stellar-ratio="0.9" class="parallaxBackground_layer parallaxBackground_layer8"></div>
</div>