---
layout: base.hbs
header:
    class: header-hide
---

<div class="landscape">
    <div class="landscape_wrapper">
        <div data-stellar-ratio="0.2" class="landscape_hola">
            <img class="landscape_logo" src="{{assets}}images/dino.png" />
            <h2 class="landscape_title">Hola <span>Amigos<span></h2>
            <h3 class="landscape_subTitle">T-Mex: A Creative Web Studio</h2>
        </div>
        <div class="landscape_layers">
            <div data-stellar-ratio="0.05" class="landscape_layer landscape_layer2"></div>
            <div data-stellar-ratio="0.15" class="landscape_layer landscape_layer3"></div>
            <div data-stellar-ratio="0.2" class="landscape_layer landscape_layer4"></div>
            <div data-stellar-ratio="0.3" class="landscape_layer landscape_layer5"></div>
            <div data-stellar-ratio="0.4" class="landscape_layer landscape_layer6"></div>
            <div data-stellar-ratio="0.6" class="landscape_layer landscape_layer7"></div>
            <div data-stellar-ratio="1" class="landscape_layer landscape_layer8"></div>
        </div>
    </div>
</div>

<div class="mainContent">
    <div id="section-1" style="height: 600px;" class="container homepage_section-1">
        <h3>About Us</h3>
    </div>
    <div id="section-2" style="height: 600px;" class="container homepage_section-2">
        <h3>What We Do</h3>
    </div>
    <div id="section-3" style="height: 600px;" class="container homepage_section-3">
        <h3>Our Work</h3>
    </div>
    <div id="section-4" style="height: 600px;" class="container homepage_section-3">
        <h3>The Amigos</h3>
    </div>
</div>