---
layout: base.hbs
---

<div class="landscape">
    <div class="landscape_wrapper">
        <div data-stellar-ratio="0.2" class="landscape_hola">
            <img class="landscape_logo" src="{{assets}}images/dino.png" />
            <h2 class="landscape_title">Hola! We're <span>TMex<span></h2>
            <h3 class="landscape_subTitle">T-Mex: A Creative Web Agency</h2>
        </div>
        <div class="landscape_layers">
            <div data-stellar-ratio="0.1" class="landscape_layer landscape_layer2"></div>
            <div data-stellar-ratio="0.15" class="landscape_layer landscape_layer3"></div>
            <div data-stellar-ratio="0.2" class="landscape_layer landscape_layer4"></div>
            <div data-stellar-ratio="0.3" class="landscape_layer landscape_layer5"></div>
            <div data-stellar-ratio="0.4" class="landscape_layer landscape_layer6"></div>
            <div data-stellar-ratio="0.6" class="landscape_layer landscape_layer7"></div>
            <div data-stellar-ratio="1" class="landscape_layer landscape_layer8"></div>
        </div>
    </div>
</div>

<div class="mainContent">
    <div class="container">
        <h3>Lorem Ipsum</h3>
    </div>
</div>