// Asset Path
$asset-path: '../..' !default;

$bgColor: #400e00;
$brand1: #ef4738;
$white: #ffffff;
$grey3: #292929;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

@font-face {
    font-family: 'The-Beach';
    src: url('#{$asset-path}/fonts/The-Beach.oft');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, 
p, ul, ol, 
form, fieldset, legend, figure, table, 
pre, hr,
.object {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.mainContent {
    background-color: $bgColor;
    padding-top: 6em;
    min-height: 500px;
    color: $white;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

@import 'modules/objects/landscape/landscape';