.mainNav {

    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 0.9em;
    padding: 1.5em 5% 1.5em 0;

    .ul {
        list-style: none;
    }

    li {
        display: inline-block;
        &:hover {
            a {
                background: rgba($white, 0.1);
            }
        }
    }

    a {
        padding: 0.5em 0.85em;
        color: $white;
        text-decoration: none;
        border: 1px solid transparent;
        transition: 0.4s;
        &.active {
            background: $brand1;
        }
    }

}