.mainNav {

    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 0.9em;
    padding: 1.5em 5% 1.5em 0;

    .ul {
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        padding: 0.5em 0.85em;
        color: $white;
        text-decoration: none;
        &.active {
            background: $brand1;
        }
    }

}